/* .App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.active-filter {
  background-color: aquamarine;
} */

.add-todolist {
  margin-top: 90px;
  margin-bottom: 20px;
}

.paper-wrapepr {
  padding: 20px;
}
