body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.error {
  border: red 1px solid;
}

.error:focus {
  outline: none;
}
.error-message {
  color: red;
}

.is-done {
  opacity: 0.5;
}

.add-todolist {
  margin-top: 100px;
  margin-bottom: 40px;
  justify-content: center;
}

.paper-wrapepr {
  padding: 10px;
}
